@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --bg: #ffffff;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
  }
  
  body {
    font-family: "Inter", sans-serif;
    background-color: var(--bg);
    justify-content: center;
    align-items: center;
    align-content: center;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
  }
  
  .banner {
    margin-top: 5.2rem;
    display: block;
  }

/* navbar star*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: #084eb7;
    border-bottom: 1px solid #3d3d3d;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  
  .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: #ffff;
  }
  .navbar .navbar-nav a {
    color: #ffff;
    display: inline-block;
    font-size: 20px;
    margin: 0 1rem;
  }
  
  .navbar .navbar-nav a:hover {
    color: var(--primary);
  }
  
  .navbar .navbar-nav a::after {
    content: "";
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--bg);
    transform: scaleX(0);
    transition: 0.3s linear;
  }
  
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
  }
  
  .navbar .navbar-extra a {
    color: #fff;
    margin: 0 0.5rem;
  }
  
  .navbar .navbar-extra a:hover {
    color: black;
  }
  
  .header-image {
    justify-content: center;
  }
  
  .std-content{
    margin-top: 60px;
  }
  
  .vertical-line {
    background-color: #333;
    width: 2px;
    height: 100px;
    margin: 0;
  }

  .wrapper {
    width: 1100px;
    margin: 0 auto;
  }
  
  .navigasi {
    display: flex;
    margin: 0;
    flex-direction: row;
    gap: 2rem;
  }
  
  .navigasi ul {
    list-style: none;
    display: flex;
    flex-direction: column;
  }
  
  .navigasi a {
    color: black;
  }
  
  .paragraf-text {
    margin: 0;
  }
  
  /* navbar end*/


/* tetang kami star */

.std-content .submenu nav > ul > li.act > a.parent {
    padding-left: 20px;
    position: relative;
    box-sizing: border-box;
    font-weight: 700;
    transition: all 0.5s ease-in-out;
    line-height: 25px;
  }
  
  .std-content .submenu nav > ul > li > a {
    color: #111;
    font-weight: 300%;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 40px;
    position: relative;
    padding-left: 0;
    transition: all 0.5s ease-in-out;
    display: block;
  }
  
  
  .std-content {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 70px;
  }
  
  .std-content .left {
    width: 230px;
    
  }
  
  .std-content .right {
    width: 935px;
  }
  
  .left {
    float: left;
  }
  
  .left
  .right {
    display: inline;
  }
  
  .std-content .content{
    color: #111;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.5rem;
  }
  
  .std-content .submenu {
    border-right: 1px solid #b6b4b4;
    padding-right:25px;
    box-sizing: border-box;
  }
  
  .std-content .submenu nav > ul > li > a > h1 {
    font-weight: bold;
    font-size: 16px;
  }

  .std-content .right .content b {
    font-size: 1.4rem;
  }
  
  /* tetang kami end */

  
/* footer star */

.footer .top {
    background-color: #ffff;
    border-top: solid 1px #b6b4b4;
    
    border-bottom: solid 1px #b6b4b4;
  }
  
  .footer .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px 0;
  }
  
  .bottom-wrapper {
    margin: 0;
    padding: 1rem 0;
    text-align: start;
    
  }
  
  .bottom-wrapper p{
    margin: 0;
    padding: 0;
    text-align: start;
    width: 100%;
    padding-left: 3rem;
    color: white;
  }
  
  .footer .top .colom {
    float: left;
    width: 300px;
    position: relative;
  }
  .logo-footer {
    text-align: center;
  }
  
  .logo-footer h3 {
    font-size: 20px;
    color: #084EB7;
    font-style: italic;
    font-weight: bold;
  }
  
  .logo-footer span {
    color: #FF7A00;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
  }
  
  .footer .bottom {
    background-color: #084EB7;
    
  }
  
  .bottom .wrapper p {
    text-align: left;
  }
  
  /* footer end */


  /* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
    html {
      font-size: 75%;
    }
  }
  
  
  /* Mobile phone */
  @media (max-width: 450px) {
    html {
      font-size: 55%;
    }
    #hamburger-menu {
      display: inline-block;
    }
  }
  
  /* CONTEN */